body{
    background-image: url('imgrave8.GIF');
    color: white;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.wholethang {
  width: 100%
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }

  .center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.boxcontainer {
  display:flex;
    width:1000px;
    height:200px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:120px;
    margin-top:60px;
  }
  
  .hide {
   visibility: hidden;
    width: 0px;
    transition: width .5s;
    overflow:hidden;
  }
      
  @media (min-width: 769px) {
    .boxcontainer:hover .hide {
      visibility: visible;
        color: black;
        background-color:lightgrey;
        padding:15px;
        width:500px; 
        margin-left:auto;
        margin-right:auto;
         overflow: hidden;
      }
 }
 

  .boxicon {
    
    margin-left:auto;
     margin-right:auto;
   }
 
   .float {
   
     display:block;
     position:relative;
     animation: dollmove 3.5s infinite;
   filter: drop-shadow(5px 10px 4px rgba(0,0,0,.2));
   }
   
   @keyframes dollmove {
     0%   {top: -15px;}
     50%  {top: 15px;}
     100% {top:-15px;}
   }
   
   
   
    /* https://metalvalley.neocities.org/sidebar/code */ 
 
    .column1 {
     float: left;
     width: 30%;
   }
   .column2 {
     float: left;
     width: 70%;
   }

  @media only screen and (max-width: 768px) {

    .boxcontainer {
      display:flex;
        width:100%;
        height:200px;
        margin-right:auto;
        margin-left:auto;
        margin-bottom:120px;
        margin-top:60px;
        flex-direction: column;
      }
      
      .hide {
       visibility: visible;
        width: 0px;
        overflow:show;
      }
    .boxcontainer .hide {
        color: black;
        background-color:lightgrey;
        padding:15px;
        width:100%; 
        height:400px;
        margin-left:auto;
        margin-right:auto;
      }

      .boxicon {
    
        margin-left:auto;
         margin-right:auto;
         margin-bottom: 40px;
       }

       .column1 {
        width: 100%;
      }
      .column2 {
        width: 100%;
        margin: 20px;
        font-size: 2.5vw;
      }
    }
  
  
 

/* link hover italics */

a:hover {
  font-style: italic;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="frametime"] {
      width: 100%;
    }
  }
  