body{
    background-image: url('imgrave8.GIF');
    color: white;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }

  .center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}